<form (ngSubmit)="SubmitUser()">
    <div class="input-group">
        <p>
            <label for="inital-investment"  >Innitial Investment</label>
            <input type="number" id="inital-investment" name="inital-investment" [(ngModel)]="intialinvestment" />
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="annualinvestment" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Exptected Return</label>
            <input type="number" id="expected-return" name="expected-investment" [(ngModel)]="expectedreturn" />
        </p>
        <p>
            <label for="duration">Duration Year</label>
            <input type="number" id="duration" name="duration" [(ngModel)]="duration" />
        </p>
    </div>
    <p style="padding-right: 1rem;padding-left: 2rem;">
        <button>Calculate</button>
    </p>
</form>